@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #E3E3E3;
}

#header {
  text-align: center;
  height: 100%;
}

#header .botonera ul li {
  display: inline-block;
  padding: 0 8px;
}

#header .botonera ul li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 3.0;
  color: black;
}

#contenedor {
  overflow: hidden;
}

#contenedor .banner {
  background-image: url(../media/logo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: end;
  justify-content: center;
  overflow: hidden;
  height: 250px;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: large;
  color: black;
  text-align: center;
  overflow: hidden;
  padding: 30px 0 30px 0;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: medium;
  color: black;
  text-align: center;
  overflow: hidden;
  padding: 15px 0 20px 0;
}

.text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
  line-height: 2.0;
  overflow: hidden;
  font-size: small;
  padding: 0 10px 0 10px;
}

.articulo {
  padding: 10px;
}

.articulo img {
  width: 100%;
  overflow: hidden;
}

#footer {
  background-color: black;
  text-align: center;
}

#footer p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: small;
  color: grey;
}

.abajo {
  padding: 5px;
}

.abajo img {
  width: 15px;
  padding-right: 3px;
}

@media all and (min-width: 768px) {
  #header .botonera {
    margin: 0;
  }
  #header .botonera ul li {
    display: inline-block;
    padding-right: 20px;
  }
  #header .botonera ul li a {
    font-weight: 600;
    font-size: small;
  }
  #contenedor .banner {
    height: 300px;
  }
  .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: black;
    text-align: center;
    overflow: hidden;
    padding-bottom: 20px;
  }
  .subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: medium;
    color: black;
    text-align: center;
    overflow: hidden;
  }
  .text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: black;
    text-align: center;
    line-height: 2.0;
    overflow: hidden;
    font-size: medium;
    padding: 0 40px 0 40px;
  }
  .flex {
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 40px 0 40px;
  }
  .articulo img {
    width: 300px;
    height: 200px;
  }
  #footer {
    text-align: center;
  }
  .abajo {
    padding: 5px;
  }
  .abajo img {
    width: 15px;
    padding-right: 5px;
  }
}

@media all and (min-width: 1024px) {
  #header .botonera {
    margin: 0px;
  }
  #header .botonera ul li {
    display: inline-block;
    padding-right: 30px;
  }
  #header .botonera ul li a {
    font-size: medium;
  }
  #contenedor {
    overflow: hidden;
  }
  #contenedor .banner {
    height: 500px;
  }
  .title {
    font-weight: 600;
    font-size: 2.0rem;
    padding: 30px 0 30px 0;
  }
  .subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: large;
    color: black;
    text-align: center;
    overflow: hidden;
  }
  .text {
    font-weight: 400;
    line-height: 2.0;
    font-size: 1.1rem;
    padding: 0 100px 0 100px;
  }
  .flex {
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px 0 50px;
  }
  .articulo {
    width: 450px;
  }
  .articulo img {
    width: 100%;
    height: 300px;
  }
  #footer p {
    font-size: large;
  }
  .abajo img {
    width: 40px;
    padding-right: 10px;
  }
}
