@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
}

#header {
  display: flex;
  max-height: 100px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
}

#header .botonera {
  margin-right: 5px;
  margin-left: 5px;
}

#header .botonera ul {
  list-style: none;
  padding: 5px;
}

#header .botonera ul li {
  display: inline-block;
  padding: 0 5px;
}

#header .botonera ul li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: small;
  line-height: 3.0;
  list-style-position: inside;
  color: black;
}

#contenedor {
  overflow: hidden;
}

#contenedor .banner {
  background-image: url(../media/logo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  overflow: hidden;
  min-height: 200px;
}

#contenedor .banner a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: small;
  line-height: 3.0;
  list-style-position: inside;
  color: white;
}

#practice {
  padding: 10px;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: x-large;
  color: black;
  text-align: center;
  overflow: hidden;
  padding-top: 10px;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: medium;
  color: black;
  text-align: center;
  overflow: hidden;
  padding-top: 10px;
}

.text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
  line-height: 2.0;
  overflow: hidden;
  font-size: small;
}

#grid {
  padding: 10px;
}

img {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#footer {
  grid-area: fot;
  background-color: black;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

#footer p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: small;
  color: grey;
}

.abajo {
  padding: 5px;
}

.abajo img {
  width: 15px;
}

@media all and (min-width: 768px) {
  #header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  #header .botonera {
    margin: 5px;
  }
  #header .botonera ul {
    list-style: none;
    padding: 5px;
  }
  #header .botonera ul li {
    display: inline-block;
    padding: 0 5px;
  }
  #header .botonera ul li a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: medium;
    line-height: 3.0;
    list-style-position: inside;
    color: black;
  }
  #contenedor {
    overflow: hidden;
  }
  #contenedor .banner {
    background-image: url(../media/logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    overflow: hidden;
    min-height: 300px;
  }
  #contenedor .banner a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: small;
    line-height: 3.0;
    list-style-position: inside;
    color: white;
  }
  #practice {
    padding: 10px;
  }
  .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: x-large;
    color: black;
    text-align: center;
    overflow: hidden;
    padding-top: 10px;
  }
  .subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: large;
    color: black;
    text-align: center;
    overflow: hidden;
    padding-top: 10px;
  }
  .text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: black;
    text-align: center;
    line-height: 2.0;
    overflow: hidden;
    font-size: medium;
  }
  #grid {
    display: grid;
    grid-template-areas: "civ civ img1" "img2 tra tra" "soc soc img3" "img4 fam fam";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat 4 1fr;
    justify-items: stretch;
    padding: 0px 20px 20px 20px;
  }
  #grid img {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  #grid .civil {
    grid-area: civ;
    height: 200px;
    padding-top: 30px;
  }
  #grid .img1 {
    grid-area: img1;
    height: 200px;
    padding-top: 30px;
  }
  #grid .img2 {
    grid-area: img2;
    height: 200px;
    padding-top: 60px;
  }
  #grid .trabajo {
    grid-area: tra;
    height: 200px;
    padding-top: 60px;
  }
  #grid .societario {
    grid-area: soc;
    height: 200px;
    padding-top: 60px;
  }
  #grid .img3 {
    grid-area: img3;
    height: 200px;
    padding-top: 60px;
  }
  #grid .img4 {
    grid-area: img4;
    height: 200px;
    padding-top: 60px;
  }
  #grid .familia {
    grid-area: fam;
    height: 200px;
    padding-top: 60px;
  }
  #footer {
    grid-area: fot;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .abajo {
    padding: 5px;
  }
  .abajo img {
    width: 15px;
  }
}

@media all and (min-width: 1024px) {
  #header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  #header botonera {
    margin: 10px;
  }
  #header botonera ul {
    list-style: none;
    padding: 10px;
  }
  #header botonera ul li {
    display: inline-block;
    padding: 0 10px;
  }
  #header botonera ul li a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 3.0;
    list-style-position: inside;
    color: black;
    font-size: large;
  }
  #contenedor {
    overflow: hidden;
  }
  #contenedor .banner {
    background-image: url(../media/logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    overflow: hidden;
    min-height: 400px;
  }
  #contenedor .banner a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 3.0;
    list-style-position: inside;
    color: white;
    font-size: medium;
  }
  #practice {
    padding: 10px;
  }
  .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: black;
    text-align: center;
    overflow: hidden;
    padding-top: 10px;
    font-size: x-large;
  }
  .subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: large;
    color: black;
    text-align: center;
    overflow: hidden;
    padding-top: 10px;
  }
  .text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: black;
    text-align: center;
    line-height: 2.0;
    overflow: hidden;
    font-size: large;
  }
  #grid {
    display: grid;
    grid-template-areas: "civ civ img1" "img2 tra tra" "soc soc img3" "img4 fam fam";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat 4 1fr;
    justify-items: stretch;
    padding: 0px 20px 20px 20px;
  }
  #grid img {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  #grid .civil {
    grid-area: civ;
    height: 300px;
    padding-top: 30px;
  }
  #grid .img1 {
    grid-area: img1;
    height: 300px;
    padding-top: 30px;
  }
  #grid .img2 {
    grid-area: img2;
    height: 300px;
    padding-top: 60px;
  }
  #grid .trabajo {
    grid-area: tra;
    height: 300px;
    padding-top: 60px;
  }
  #grid .societario {
    grid-area: soc;
    height: 300px;
    padding-top: 60px;
  }
  #grid .img3 {
    grid-area: img3;
    height: 300px;
    padding-top: 60px;
  }
  #grid .img4 {
    grid-area: img4;
    height: 300px;
    padding-top: 60px;
  }
  #grid .familia {
    grid-area: fam;
    height: 300px;
    padding-top: 60px;
  }
  #footer {
    grid-area: fot;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .abajo {
    padding: 5px;
  }
  .abajo img {
    width: 20px;
  }
}
