@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #E3E3E3;
}

#header {
  text-align: center;
  height: 100%;
}

#header .botonera ul li {
  display: inline-block;
  padding: 0 8px;
}

#header .botonera ul li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 3.0;
  color: black;
}

#contenedor {
  overflow: hidden;
}

#contenedor .banner {
  background-image: url(../media/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 250px;
}

#contenedor .banner h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: black;
  text-align: center;
}

#contenedor .banner h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.0rem;
  color: black;
  text-align: center;
}

#practice {
  padding: 30px 20px 30px 20px;
}

#grid .civil {
  height: 200px;
  padding: 0 10px 30px 10px;
}

#grid .img1 {
  padding: 10px 10px 30px 10px;
}

#grid .img2 {
  padding: 10px 10px 30px 10px;
}

#grid .trabajo {
  height: 200px;
  padding: 10px 10px 30px 10px;
}

#grid .societario {
  height: 200px;
  padding: 10px 10px 30px 10px;
}

#grid .img3 {
  padding: 10px 10px 30px 10px;
}

#grid .img4 {
  padding: 10px 10px 10px 10px;
}

#grid .familia {
  height: 220px;
  padding: 0 10px 10px 10px;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: large;
  color: black;
  text-align: center;
  overflow: hidden;
  padding-bottom: 20px;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: small;
  color: black;
  text-align: center;
  overflow: hidden;
  padding-top: 10px;
}

.text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
  line-height: 2.0;
  overflow: hidden;
  font-size: small;
}

#grid {
  padding: 10px;
}

img {
  overflow: hidden;
  width: 100%;
}

#footer {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#footer .logo {
  width: 200px;
  height: auto;
}

#footer .logo img {
  width: 100%;
}

#footer .abajo {
  padding-right: 10px;
}

#footer .abajo img {
  width: 20px;
}

@media all and (min-width: 768px) {
  #header .botonera {
    margin: 0;
  }
  #header .botonera ul li {
    display: inline-block;
    padding-right: 20px;
  }
  #header .botonera ul li a {
    font-weight: 600;
    font-size: 1.0rem;
  }
  #contenedor .banner {
    height: 300px;
  }
  #contenedor .banner h1 {
    font-size: 3.0rem;
  }
  #contenedor .banner h2 {
    font-size: 2.5rem;
  }
  #practice {
    padding: 40px;
  }
  .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: black;
    text-align: center;
    overflow: hidden;
    padding-bottom: 20px;
  }
  .subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: large;
    color: black;
    text-align: center;
    overflow: hidden;
    padding-top: 10px;
  }
  .text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: black;
    text-align: center;
    line-height: 2.0;
    overflow: hidden;
    font-size: medium;
  }
  #grid {
    display: grid;
    grid-template-areas: "civ img1" "img2 tra" "soc img3" "img4 fam";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat 4 1fr;
    justify-items: stretch;
    padding: 0px 20px 20px 20px;
  }
  #grid img {
    overflow: hidden;
    width: 100%;
  }
  #grid .civil {
    grid-area: civ;
    height: 300px;
    padding-top: 30px;
  }
  #grid .img1 {
    grid-area: img1;
    padding-top: 30px;
  }
  #grid .img2 {
    grid-area: img2;
    padding-top: 60px;
  }
  #grid .trabajo {
    grid-area: tra;
    height: 300px;
    padding-top: 60px;
  }
  #grid .societario {
    grid-area: soc;
    height: 300px;
    padding-top: 60px;
  }
  #grid .img3 {
    grid-area: img3;
    padding-top: 60px;
  }
  #grid .img4 {
    grid-area: img4;
    padding-top: 60px;
  }
  #grid .familia {
    grid-area: fam;
    height: 300px;
    padding-top: 60px;
  }
  #footer .logo {
    width: 200px;
  }
  #footer .abajo {
    padding-right: 35px;
  }
  #footer .abajo img {
    width: 25px;
    padding-right: 10px;
  }
}

@media all and (min-width: 1024px) {
  #header .botonera {
    margin: 0px;
  }
  #header .botonera ul li {
    display: inline-block;
    padding-right: 30px;
  }
  #header .botonera ul li a {
    font-size: medium;
  }
  #contenedor {
    overflow: hidden;
  }
  #contenedor .banner {
    height: 500px;
  }
  #contenedor .banner h1 {
    font-size: 5.0rem;
  }
  #contenedor .banner h2 {
    font-size: 4.0rem;
  }
  #practice {
    padding: 60px 100px 60px 100px;
  }
  .title {
    font-weight: 600;
    font-size: 2.0rem;
    padding-bottom: 30px;
  }
  .subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: large;
    color: black;
    text-align: center;
    overflow: hidden;
    padding-top: 10px;
  }
  .text {
    font-weight: 400;
    line-height: 2.0;
    font-size: 1.1rem;
  }
  #grid {
    display: grid;
    grid-template-areas: "civ img1" "img2 tra" "soc img3" "img4 fam";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat 4 1fr;
    justify-items: stretch;
    padding: 0px 20px 20px 20px;
  }
  #grid img {
    overflow: hidden;
    width: 100%;
  }
  #grid .civil {
    grid-area: civ;
    height: 400px;
    padding: 30px;
  }
  #grid .img1 {
    grid-area: img1;
    padding: 30px;
  }
  #grid .img2 {
    grid-area: img2;
    padding: 30px;
  }
  #grid .trabajo {
    grid-area: tra;
    height: 400px;
    padding: 30px;
  }
  #grid .societario {
    grid-area: soc;
    height: 400px;
    padding: 30px;
  }
  #grid .img3 {
    grid-area: img3;
    padding: 30px;
  }
  #grid .img4 {
    grid-area: img4;
    padding: 30px;
  }
  #grid .familia {
    grid-area: fam;
    height: 400px;
    padding: 30px;
  }
  #footer .logo {
    width: 200px;
  }
  #footer .abajo {
    padding-right: 50px;
  }
  #footer .abajo img {
    width: 30px;
    padding-right: 10px;
  }
}
