*{
	padding: 0;
	margin: 0;
}

body{
	background-color: #E3E3E3;
}

#header{
	text-align: center;
	height: 100%;

	.botonera{

		ul{

			li{
				display: inline-block;
				padding: 0 8px;

				a{
					font-family: 'Montserrat', sans-serif;
					font-weight: 500;
					font-size: 0.8rem;
					line-height: 3.0;
					color: black;
				}
			}
		}
	}
}


#contenedor{
	overflow: hidden;

	.banner{
		background-image: url(../media/logo.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		display: flex;
		align-items: end;
		justify-content: center;
		overflow: hidden;
		height: 250px;
	}
}

.title{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: large;
	color: black;
	text-align: center;
	overflow: hidden;
	padding: 20px 0 20px 0;
}
.subtitle{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: black;
	text-align: center;
	line-height: 2.0;
	overflow: hidden;
	font-size: small;
	padding-bottom: 10px;
}

.text{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: black;
	text-align: center;
	line-height: 2.0;
	overflow: hidden;
	font-size: small;
}
#grid{
	padding:10px;
}
img{
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#grid .picAg{
	grid-area: picAg;
	height: 250px;
	padding: 0 10px 30px 10px;
}
#grid .abogAg{
	grid-area: abogAg;
	height: 100%;
	padding: 10px 10px 30px 10px;
}
#grid .picCa{
	grid-area: picCa;
	height: 250px;
	padding: 10px 10px 30px 10px;
}
#grid .abogCa{
	grid-area: abogCa;
	height: 100%;
	padding: 10px 10px 30px 10px;
}
#grid .picVe{
	grid-area: picVe;
	height: 200px;
	padding: 10px 10px 30px 10px;
}
#grid .abogVe{
	grid-area: abogVe;
	height: 100%;
	padding: 10px 10px 30px 10px;
}

#footer{
	background-color: black;

	.textfoot{
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		font-size: small;
		color: grey;
		text-align: center;
		line-height: 2.0;
	}
}

.abajo{
	text-align: center;
	
	img{
		width: 15px;
		padding-right: 3px;
	}
}

@media all and (min-width: 768px){
	#header{
			
		.botonera{
			margin: 0;
	
			ul{

	
				li{
					display: inline-block;
					padding-right: 20px;
	
					a{
						font-weight: 600;
						font-size: 1.0rem;

					}
				}
			}
		}
	}


	#contenedor{

		.banner{

			height: 300px;

		}
	}

	.title{
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		font-size: 1.5rem;
		color: black;
		text-align: center;
		overflow: hidden;
		padding: 30px 0 20px 0; 
	}
	.subtitle{
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		font-size: 1.0rem;
		color: black;
		text-align: center;
		overflow: hidden;
		padding-bottom: 10px;
	}

	.text{
		font-family: 'Montserrat', sans-serif;
		font-weight: 300;
		color: black;
		text-align: center;
		line-height: 2.0;
		overflow: hidden;
		font-size: 1.0rem;
	}
	#grid{
	padding:10px;
	}

	img{
		overflow: hidden;
		width: 100%;
		height: 100%;
	}

	#grid .picAg{
		height: 300px;
		width: 400px;
		padding: 0 0 0 170px;
	}

	#grid .abogAg{
		height: 100%;
		padding: 10px 60px 30px 60px;
	}
	#grid .picCa{
		height: 300px;
		width: 400px;
		padding: 0 0 0 170px;
	}
	#grid .abogCa{
		height: 100%;
		padding: 10px 60px 30px 60px;
	}
	#grid .picVe{
		height: 300px;
		width: 400px;
		padding: 0 0 0 170px;
	}
	#grid .abogVe{
		height: 100%;
		padding: 10px 10px 30px 10px;
	}
	
	#footer{
		text-align: center;
	}

	.abajo{
		padding: 5px;
		
		img{
			width: 15px;
			padding-right: 5px;
		}
	}
}

@media all and (min-width: 1024px){
	#header{
	
		.botonera{
			margin: 0px;
	
			ul{
		
				li{
					display: inline-block;
					padding-right: 30px;
	
					a{
						font-size: medium;
					}
				}
			}
		}
	}

	#contenedor{
		overflow: hidden;
	
		.banner{
			
			height: 500px;
		}
	}
	.padding{
		padding-top: 40px;
	}

	.title{
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		color: black;
		text-align: center;
		overflow: hidden;
		font-size: x-large;
	}
	.subtitle{
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		font-size: large;
		color: black;
		text-align: left;
		overflow: hidden;
		padding-bottom: 20px;
	}

	.text{
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		color: black;
		text-align: left;
		line-height: 2.0;
		overflow: hidden;
		font-size: mediuem;
	}

	#grid{
		display: grid;
		grid-template-areas: 
		"picAg abogAg"
		"picCa abogCa"
		"picVe abogVe";
		grid-template-columns: 1fr 1fr; 
		grid-template-rows: repeat (3 1fr); 
		justify-items: stretch;
		padding: 0px 20px 20px 20px;
	}
	#grid img{
		overflow: hidden;
		width: 100%;
		height: 100%;
	}
	#grid .picAg{
		grid-area: picAg;
		height: 450px;
		width: auto;
		padding: 30px;
	}
	#grid .abogAg{
		grid-area: abogAg;
		height: 100%;
		padding: 30px;
	}
	#grid .picCa{
		grid-area: picCa;
		height: 490px;
		width: auto;
		padding: 30px;
	}
	#grid .abogCa{
		grid-area: abogCa;
		height: 100%;
		padding: 30px;
	}
	#grid .picVe{
		grid-area: picVe;
		height: 400px;
		width: auto;
		padding: 30px;
	}
	#grid .abogVe{
		grid-area: abogVe;
		height: 100%;
		padding: 30px;
	}
	#footer{
	
		p{
			font-size: large;
		}
	}

	.abajo{
	
		img{
			width: 40px;
			padding-right: 10px;
		}
	}
}