*{
	padding: 0;
	margin: 0;
}

body{
	background-color: #E3E3E3;
}

.container-fluid{
  padding: 0;
}

.navbar-light .navbar-nav .nav-link {
 color: black;
}

ul li a{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 3.0;
  color: black;
}


#contenedor{
	overflow: hidden;

	.banner{
		background-image: url(../media/banner.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		height: 250px;

		h1{
			font-family: 'Montserrat', sans-serif;
			font-weight: 600;
			font-size: 1.5rem;
			color: black;
			text-align: center;
		}
	}
}

#contenedor .banner h2{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 1.0rem;
	color: black;
	text-align: center;
}

.title{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: large;
	color: black;
	text-align: center;
	overflow: hidden;
	padding: 20px 0 20px 0;
}
.subtitle{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: black;
	text-align: center;
	line-height: 2.0;
	overflow: hidden;
	font-size: small;
	padding-bottom: 10px;
}

.text{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: black;
	text-align: center;
	line-height: 2.0;
	overflow: hidden;
	font-size: small;
}
#grid{
	padding:10px;
}
img{
	overflow: hidden;
	width: 100%;
}

#grid .picAg{
	grid-area: picAg;
	padding: 0 10px 30px 10px;
}
#grid .abogAg{
	grid-area: abogAg;
	height: 100%;
	padding: 10px 10px 30px 10px;
}
#grid .picCa{
	grid-area: picCa;
	padding: 10px 10px 30px 10px;
}
#grid .abogCa{
	grid-area: abogCa;
	height: 100%;
	padding: 10px 10px 30px 10px;
}
#grid .picVe{
	grid-area: picVe;
	padding: 10px 10px 30px 10px;
}
#grid .abogVe{
	grid-area: abogVe;
	height: 100%;
	padding: 10px 10px 30px 10px;
}

#footer{
	background-color: black;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	flex-wrap: wrap;
}
#footer .logo{
  width: 200px;
  height: auto;
  img{
  	width: 100%;
  }
}
#footer .abajo{
  padding-right: 10px;
  img{
  	width: 20px;
	}
}

@media all and (min-width: 768px){
	ul li	a{
		font-weight: 600;
		font-size: small;
	}


	#contenedor{

		.banner{

			height: 300px;

			h1{
    			font-size: 3.0rem;
    		}
    	}
    }
  
  	#contenedor .banner h2{
  	  	font-size: 2.5rem;
  	}

	.title{
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		font-size: 1.5rem;
		color: black;
		text-align: center;
		overflow: hidden;
		padding: 30px 0 20px 0; 
	}
	.subtitle{
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		font-size: 1.0rem;
		color: black;
		text-align: center;
		overflow: hidden;
		padding-bottom: 10px;
	}

	.text{
		font-family: 'Montserrat', sans-serif;
		font-weight: 300;
		color: black;
		text-align: center;
		line-height: 2.0;
		overflow: hidden;
		font-size: 1.0rem;
	}
	#grid{
	padding:10px;
	}

	img{
		overflow: hidden;
		width: 100%;
	}

	#grid .picAg{
		padding: 0 30px 0 30px;
	}

	#grid .abogAg{
		height: 100%;
		padding: 10px 60px 30px 60px;
	}
	#grid .picCa{
		padding: 0 30px 0 30px;
	}
	#grid .abogCa{
		height: 100%;
		padding: 10px 60px 30px 60px;
	}
	#grid .picVe{
		padding: 0 30px 0 30px;
	}
	#grid .abogVe{
		height: 100%;
		padding: 10px 10px 30px 10px;
	}
	
	#footer .logo{
		width: 200px;
	}
  	#footer .abajo{
    	padding-right: 35px;
  	img{
    	width: 25px;
    	padding-right: 10px;
  		}
	}
}

@media all and (min-width: 1024px){
	ul li a{
		font-size: medium;
	}

	#contenedor{
		overflow: hidden;
	
		.banner{
			
			height: 500px;

			h1{
				font-size: 5.0rem;
			}
		}
	}
				
	#contenedor .banner h2{
		font-size: 4.0rem;
	}
	.padding{
		padding-top: 40px;
	}

	.title{
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		color: black;
		text-align: center;
		overflow: hidden;
		font-size: x-large;
	}
	.subtitle{
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		font-size: large;
		color: black;
		text-align: left;
		overflow: hidden;
		padding-bottom: 20px;
	}

	.text{
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		color: black;
		text-align: left;
		line-height: 2.0;
		overflow: hidden;
		font-size: mediuem;
	}

	#grid{
		display: grid;
		grid-template-areas: 
		"picAg abogAg"
		"picCa abogCa"
		"picVe abogVe";
		grid-template-columns: 1fr 1fr; 
		grid-template-rows: repeat (3 1fr); 
		justify-items: stretch;
		padding: 0px 20px 20px 20px;
	}
	#grid img{
		overflow: hidden;
		width: 100%;
	}
	#grid .picAg{
		grid-area: picAg;
		padding: 30px;
	}
	#grid .abogAg{
		grid-area: abogAg;
		height: 100%;
		padding: 30px;
	}
	#grid .picCa{
		grid-area: picCa;
		padding: 30px;
	}
	#grid .abogCa{
		grid-area: abogCa;
		height: 100%;
		padding: 30px;
	}
	#grid .picVe{
		grid-area: picVe;
		padding: 30px;
	}
	#grid .abogVe{
		grid-area: abogVe;
		height: 100%;
		padding: 30px;
	}
	#footer .logo{
    	width: 200px;
  	}
  	#footer .abajo{
    	padding-right: 50px;
  	
  		img{
    		width: 30px;
    		padding-right: 10px;
  		}
  	}
}